#header {
    text-align: center;
    font-size: 36px;
    color: blue;
    font-style: oblique;
    background-color: rgb(168, 164, 159);
    padding: 20px;
}

#paragraf {
    background-color: rgb(168, 164, 159);
    padding: 20px;
    text-align: center
}

.contact-info {
    background-color: rgb(168, 164, 159);
    padding: 20px;
    text-align: center;
}

